# Mistral AI Configuration
MISTRAL_API_KEY=7s28ozDU87WyDNTDSfmD3qATl5MdPg3i
MISTRAL_MODEL_NAME=mistral-large-latest

# Pinecone Vector DB Configuration
PINECONE_API_KEY=pcsk_6eoQUW_21zzjqL6yQmzAn8yra4JJfRo4jBQDWVYdwHxMdY7ZT6UdES2o6k4xvMZ2VeHD6N
PINECONE_INDEX_NAME=nexora-career-index

# Neon DB (PostgreSQL) Configuration
# Format: postgresql://[user]:[password]@[neon_host]/[database_name]?sslmode=require
DATABASE_URL=postgresql://neondb_owner:npg_nDQTFu4dRAy5@ep-bitter-rice-ao6z9b9a-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# ImageKit Configuration
IMAGEKIT_PUBLIC_KEY=your_public_key_here
IMAGEKIT_PRIVATE_KEY=your_private_key_here
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your_account_name

# Google OAuth Configuration
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_REDIRECT_URI=http://localhost:8501
